<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Node.js</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/assets/js/script.js"></script>
</head>
<body>
    <header>
        <h1>Meu Blog</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/postagens">Postagens</a>
            <a href="/nova">Nova Postagem</a>
        </nav>
    </header>
    
    <main>
        <h1>Main</h1>
    </main>
    
    <footer>
        <p>&copy; 2024 Blog Node.js</p>
    </footer>
    
</body>
</html>